


/* Loader overrides */
.accordion-item, .accordion-button {
    border-radius: 0 !important;
}

.accordion-item {
    margin-bottom: 0.5rem;
    border-top: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color) !important;
}

.form-label {
    margin-bottom: 0 !important;
}

input, button {
    font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
}