h1,h2, h3, h4, h5, p {
    margin: 0;
}

.output {
    width: 50%;

    background-color: #bbb9b9;

    box-sizing: border-box;
}

.deliverable-output {
    aspect-ratio: 1/ 1.41;

    width: 90%;

    background-color: white;
    color: black;

    margin: 15px auto;
}

#download {
    margin-top: 15px;
    margin-left: 30px;
}

/* Output CV Styling - must be responsive*/

.output-head {
    /* Custom */
    background-color: #bed1e9;

    display: flex;
}

.output-head-main {
    flex: 1;

    padding: 1em 1.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.output-head-main.condensed {
    flex-direction: row;
    justify-content: space-between;
}

.output-head-main.condensed > .output-head-details {
    margin-top: 0;
}

.output-head-main.condensed > .output-head-details > .detail {
    margin-right: 1em;
}

.output-head-title {
    
}
.output-head-details {
    font-size: 0.8em;

    margin-top: 1em;
}

.detail {
    display: flex;
    align-items: center;
    margin-bottom: 0.15em;
}

.detail-label {
    margin-right: 0.1em;
}

.output-head-avatar {    
    aspect-ratio: 1/1;
    width: 15%;

    margin: 0.5em 1.5em;
}

.output-head-avatar > img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/* Output - body */

.output-body {
    padding: 0.5em 1em;
}

.output-body-title{
    border-bottom: 1px solid black;
    margin-bottom: 0.25em;
}

.output-body-section {
    margin-bottom: 0.5em;
}

.output-bio {
    font-size: 0.8em;
}

.output-entry {
    display: flex;
    
    margin-bottom: 1em;
}

.output-entry-head {
    width: 13%;
    font-size: 0.8em;
    margin-right: 0.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.output-entry-dates.end {
    margin-left: 0.5em;
}

.output-entry-mid {
    flex: 1;
}

.output-entry-mid > h1 {
    font-size: 1.2em;
}

.output-entry-mid > h5 {
    font-size: 0.8em;
}

.output-entry-mid > p {
    margin-top: 0.25em;
    font-size: 0.8em;
}

.output-entry-title {
    display: flex;
}

.output-entry-title > h1 {
    flex: 1;
    font-size: 1em;
}

.output-entry-title > p {
    margin-top: 0.5em;
    font-size: 0.8em;
}