/* font-family: "Raleway", serif; */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Lora", serif; */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Quicksand", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.output {
    width: 50%;

    background-color: #bbb9b9;

    box-sizing: border-box;
}

.deliverable-output {
    aspect-ratio: 1/ 1.41;

    max-width: 90%;

    background-color: white;
    color: black;

    overflow-y: scroll;

    container-type: size;
}

/* Custom classes */